.navbar {
  width: 100%;
  position: fixed;
  height: 8vh;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0 10%;
}
.logo {
  height: 100%;
}

.burger {
  width: 35px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.burger div {
  width: 90%;
  height: 3px;
  background-color: white;
}

@media (min-width: 500px) {
  .burger {
    display: none;
  }
}
