.toolbar {
  display: flex;
  text-align: center;
  align-items: center;
  height: 100%;
}
.toolbar__item {
  list-style: none;
}

.toolbar__link {
  font-size: 1rem;
  text-decoration: none;
  color: #8186d5;
  padding: 0.5rem 1rem;
}
.toolbar__link:hover {
  color: #494ca2;
  background-color: #8186d5;
}
@media (max-width: 599px) {
  .toolbar {
    display: none;
  }
}
