.Button {
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  color: #eee;
}
.Info {
  background-color: #3a72ec;
}
.Info:hover {
  background-color: #005cfa;
}

.Info-outline {
  background-color: transparent;
  border: 3px solid #3a72ec;
}
.Info-outline:hover {
  background-color: #005cfa;
}

.Disabled {
  background-color: #a7c3ff;
}
