.EventPage {
  height: 100%;
  width: 100%;
}
.EventPage__image {
  width: 100%;
  height: 40vh;
  margin: 8vh 0 2vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.EventPage__content {
  padding: 1rem 4rem;
}

.EventPage__content-title {
  font-size: 3rem;
  margin: 0 0 2rem;
  text-align: center;
}
.EventPage__content-place {
  font-size: 1.5rem;
  padding: 0.2rem 5rem;
}
.EventPage__content-description {
  font-size: 1rem;
  padding: 2rem 5rem;
}
