.EventPage {
  width: 90%;
  max-width: 900px;
  margin: 15vh auto;
  padding: 2vh 0;
  background-color: #fff;
}
.EventPage__image {
  display: block;
  height: auto;
  width: 80%;
  margin: 0 auto 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.EventPage__content {
  width: 90%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.EventPage__content-title {
  font-size: 1.5rem;
  margin: 0 0 2rem;
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  color: #1900ff;
  border-bottom: 2px dotted #1900ff;
}
.EventPage__content-place {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.EventPage__content-description {
  height: 100%;
  padding: 1rem;
  text-align: justify;
}
.EventPage__content-creator {
  text-align: center;
  font-size: 1rem;
  color: #3d80fd;
}
@media (min-width: 500px) {
  .EventPage__content-title {
    font-size: 3.5rem;
    margin: 0 0 2rem;
  }
  .EventPage__content-place {
    font-size: 1.5rem;
  }
}
@media (min-width: 500px) {
  .EventPage__content-description {
    font-size: 1.5rem;
  }
}
