.EventPage {
  height: 100vh;
  width: 100%;
  padding: 8vh 0 0;
}
.EventPage__image {
  width: 100%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.EventPage__content-title {
  font-size: 3rem;
  margin: 0 0 2rem;
  text-align: center;
}
.EventPage__content-place {
  /* font-size: 1.5rem; */
  /* padding: 0.1rem 5rem; */
  font-size: 1.5rem;
  padding: 0 1rem;
}
.EventPage__functionBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
.EventPage__content-description {
  font-size: 1rem;
  /* padding: 2rem 5rem; */
  padding: 0 1rem;
}

@media (min-width: 600px) {
  .EventPage__image {
    height: 50vh;
    background-attachment: fixed;
  }

  .EventPage__content {
    padding: 2rem 4rem;
  }
  .EventPage__content-place {
    font-size: 1.5rem;
    padding: 0.1rem 2rem;
  }

  .EventPage__functionBtn {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .EventPage__content-description {
    padding: 1rem 2rem;
  }
}
