.mobileMenu {
  position: fixed;
  z-index: -1;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #333;
  overflow-y: scroll;
}
.mobileMenu__item {
  list-style: none;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 3px solid transparent;
  transition: background-color 0.2s ease-in;
}
.mobileMenu__link {
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  color: #eee;
}
@media (min-width: 600px) {
  .mobileMenu {
    display: none;
  }
}
