.AddEventPage {
  padding-top: 10vh;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      105deg,
      rgba(50, 70, 255, 0.4) 0%,
      rgba(0, 20, 196, 0.4) 100%
    ),
    url(../../assets/showcase.jpg);
  background-size: cover;
  background-position: bottom;
}
.Form {
  margin: 2rem auto 4rem;
  width: 90%;
  text-align: center;
  align-items: center;
  box-shadow: 0 2px 3px #ccc;
  background-color: #eee;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}
.Form-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 800px) {
  .Form {
    width: 700px;
    padding: 2rem 5rem;
  }
}
