.navbar {
  width: 100%;
  position: fixed;
  height: 8vh;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0 5%;
}
.logo {
  height: 100%;
}

.logo img {
  height: 100%;
}

.burger {
  padding: 15px;
  background: none;
  border: none;
}
.burger__line {
  width: 30px;
  height: 3px;
  background-color: #1c2bff;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.burger__line::before,
.burger__line::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: #1c2bff;
  transition: transform 0.5s ease-in-out;
}
.burger__line::before {
  top: -0.5rem;
}
.burger__line::after {
  top: 0.5rem;
}
.burger-active .burger__line {
  background-color: transparent;
}
.burger-active .burger__line::before {
  transform: translateY(0.5rem) rotate(90deg);
}
.burger-active .burger__line::after {
  transform: translateY(-0.5rem) rotate(180deg);
}

.active {
  border-bottom: 3px solid #1c2bff;
}
.active > * {
  color: #c6cbef;
}
@media (min-width: 600px) {
  .burger {
    display: none;
  }
}
