.header {
  background-image: linear-gradient(
      105deg,
      rgba(25, 25, 25, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../../assets/showcase.jpg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: auto;
  min-height: 50vh;
  padding: 50px 0 0;
}
.header__heading {
  font-size: 2rem;
  margin-bottom: 0;
  text-align: center;
}
.header__inputs {
  width: 75%;
  align-items: center;
  text-align: center;
}

.header__input {
  display: inline-block;
  margin: 0 0 1rem 0;
}

@media (min-width: 576px) {
  .header__heading {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0;
  }
  .header__heading {
    font-size: 5rem;
  }
  .header__inputs {
    width: 85%;
  }
  .header__input {
    display: inline-block;
    margin: 0 1rem;
  }
}
@media (min-width: 992px) {
  .header__heading {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
}
