.CityButton {
  background-color: #3a72ec;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 15px;
  border: none;
}
.CityButton:hover {
  background-color: #005cfa;
}
