.btnSubmit {
  min-width: 150px;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: 1.5rem;
  background-color: #b2e034;
  color: #333;
  outline: none;
}
.btnSubmit:hover,
.btnSubmit:focus {
  background-color: #70940d;
  color: #333;
}
