.HomePage__header {
  padding: 10vh 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.header__inputs {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.header__input {
  width: 45%;
  display: block;
}
